<div class="row">

  <div class="col-lg-10">
      <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
          <a routerLink="/csvupload">CSV Upload</a>
          <a href="/percentwithaccount">Percent Bench</a>
          <a href="/percentBillable">Percent Billable –Non Billable employees</a>
          <a href="/percentLeaves">Percentage of unplanned leaves taken by agent in peak season</a>
        </div>
        <div id="main">
          <button class="openbtn" (click)="openNav()">☰ Dash Board Analyst</button>  
        </div>
  </div>
  <div class="col-lg-2">
    <button class="btn btn-danger" (click)="logOut()">LogOut</button>
  </div>
</div>
<div class="row"><br><br><br><br></div>
  