
    <app-header></app-header>
      <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
          <a routerLink="/csvupload">CSV Upload</a>
          <a href="/percentwithaccount">Percent Bench With Account</a>
          <a href="#">Percent Bench 2</a>0
          <a href="#">Percent Bench 3</a>
        </div>
        <div id="main">
          <button class="openbtn" (click)="openNav()">☰ Dash Board Analyst</button>  
        </div>
        